# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [4]:
import pandas as pd

In [5]:
recipes  = pd.read_csv('C://SOFIA//tod//recipes_sample.csv')
review  = pd.read_csv('C://SOFIA//tod//reviews_sample.csv')
review.rename(columns = {'Unnamed: 0' : 'kjbsv'})
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [4]:
print('количество строк и столбцов', review.shape, recipes.shape)
print(review.dtypes, recipes.dtypes )

количество строк и столбцов (126696, 6) (30000, 8)
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [5]:
print(review.isnull().sum().sum())
print(recipes.isnull().sum().sum())

17
20693

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [6]:
print(review.mean(axis = 0))
print(recipes.mean(axis = 0))

C:\Users\София\AppData\Local\Temp\ipykernel_17596\671552383.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(review.mean(axis = 0))

Unnamed: 0    5.660898e+05
user_id       1.408013e+08
recipe_id     1.600944e+05
rating        4.410802e+00
dtype: float64
id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64

C:\Users\София\AppData\Local\Temp\ipykernel_17596\671552383.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(recipes.mean(axis = 0))

1.5 Создайте серию из 10 случайных названий рецептов.

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [13]:
review.reindex([i for i in range(len(review.axes[0]))])

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [14]:
recipes[(recipes['minutes'] < 20 ) & (recipes['n_ingredients'] < 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
143,2 minute broccoli,256464,4,165433,2007-10-01,7.0,"so easy. tender crisp. hot, steamed broccoli...",2.0
168,3 ingredient moroccan dry rub,505748,3,65502,2013-08-12,NaN,who says that recipes have to be complicated t...,3.0
...,...,...,...,...,...,...,...,...
29817,zen wine spritzer,498523,1,2585084,2013-04-06,3.0,this is a light and refreshing beverage that i...,4.0
29858,zesty stuffed olives,269904,10,226066,2007-12-05,NaN,from kraft. too cute not to try!!,4.0
29866,zhanyshpa from kazakhstan,160599,15,279179,2006-03-20,NaN,this is another typical kazakh dessert.,4.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [16]:
pd.to_datetime(recipes['submitted'])

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [18]:
recipes[(recipes['submitted'] > '2010-12-31')]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
...,...,...,...,...,...,...,...,...
29959,zucchini pizza boats,468144,35,1885554,2011-11-13,10.0,this recipe originally appeared on budgetbytes...,NaN
29965,zucchini sausage casserole,472482,80,447199,2012-01-20,13.0,this was a real hit with my family! this recip...,NaN
29976,zucchini tots,505053,20,798181,2013-07-31,NaN,'the happy homemaker blog' shared this recipe ...,NaN
29994,zuppa by luisa,464576,70,226863,2011-09-20,14.0,this soup is a hearty meal! from luisa musso.,17.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [ ]:
recipes['description'].tolist()

In [26]:
x = recipes['description'].tolist()
print(x)
recipes['description_length'] = [len(x[i]) for i in range(len(x))]

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

TypeError: object of type 'float' has no len()

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [28]:
recipes['name'] = recipes['name'].str.capitalize()
print(recipes)

                                               name      id  minutes  \
0             George s at the cove  black bean soup   44123       90
1                Healthy for them  yogurt popsicles   67664       10
2                      I can t believe it s spinach   38798       30
3                              Italian  gut busters   35173       45
4          Love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  Zurie s holey rustic olive and cheddar bread  267661       80
29996          Zwetschgenkuchen  bavarian plum cake  386977      240
29997   Zwiebelkuchen   southwest german onion cake  103312       75
29998                                   Zydeco soup  486161       60
29999        Cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [62]:
recipes['name_word_count'] = [len(i.split()) for i in recipes['name']]
print(recipes)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       name_word_count
0                    8
1                    5
2                    7
3                    3
4                    8
...                ...
29995                8
29996                4
29997                5
29998                2
29999                7

[30000 rows x 9 columns]

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [10]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [8]:
recipes.groupby('contributor_id').count()

,name,id,minutes,submitted,n_steps,description,n_ingredients
contributor_id,,,,,,,
1530,5,5,5,5,2,2,3
1533,186,186,186,186,114,70,133
1534,50,50,50,50,27,15,36
1535,40,40,40,40,21,38,29
1538,8,8,8,8,5,3,6
...,...,...,...,...,...,...,...
2001968497,2,2,2,2,0,2,1
2002059754,1,1,1,1,1,1,1
2002234079,1,1,1,1,1,1,1
2002234259,1,1,1,1,1,1,0
2002247884,1,1,1,1,1,1,1

In [13]:
recipes.groupby('contributor_id').count().max()

name             421
id               421
minutes          421
submitted        421
n_steps          254
description      421
n_ingredients    291
dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [16]:
review.groupby('recipe_id')['rating'].median() #Посчитайте средний рейтинг к каждому из рецептов.

recipe_id
48        1.0
55        5.0
66        5.0
91        5.0
94        5.0
         ...
536547    5.0
536610    0.0
536728    4.0
536729    5.0
536747    0.0
Name: rating, Length: 28100, dtype: float64

In [23]:
#pd.merge(recipes, review, left_on=None, right_on=None, left_index=False, right_index=False)

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [32]:
#recipes['submitted'] = pd.to_datetime(recipes['submitted'], format = '%Y-%m-%d')

In [37]:
recipes['year'] = [i[0] for i in recipes['submitted']] #
print(recipes)

TypeError: 'Timestamp' object is not subscriptable

In [ ]:
recipes.groupby('year').count()

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [60]:
dataframe1 = pd.merge(recipes['id'], review['user_id'], left_on='id', right_on='user_id')
dataframe2 = pd.merge(recipes['name'], review['rating'], left_on='name', right_on='rating')
dataframe = pd.merge(dataframe1, dataframe2)
dataframe

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [65]:
sorted_recipes = recipes.sort_values(by='name_word_count', ascending=False)
print(sorted_recipes)

                                                    name      id  minutes  \
26223  subru uncle s whole green moong dal i ll be ma...   77188       95
28083  tsr version of t g i  friday s black bean soup...  102274       75
26222  subru uncle s toor ki dal sindhi style  dad  m...   76908       65
27876  top secret recipes version of  i h o p  griddl...  113346       20
5734   chicken curry or  cat s vomit on a bed of magg...  294898       30
...                                                  ...     ...      ...
3253                                          blackmoons  323195      430
4138                                         bushwhacker  156521       10
2357                                            basbousa   12957       60
15052                                          josefinas  264859       20
4710                                            caramels  143615       30

       contributor_id  submitted  n_steps  \
26223            6357 2003-11-21      NaN
28083           74652 2004-10-19      9.0
26222            6357 2003-11-18     29.0
27876          175727 2005-03-14      5.0
5734           802799 2008-03-28     11.0
...               ...        ...      ...
3253           415934 2008-09-04      5.0
4138           177392 2006-02-17      1.0
2357            18391 2001-10-20      NaN
15052          498271 2007-11-11      7.0
4710           212088 2005-11-02      NaN

                                             description  n_ingredients  \
26223  my dad and mom quite enjoy this lentil curry. ...           15.0
28083  from www.topsecretrecipes.com i got this copyc...           16.0
26222  this is the lentil curry that subru uncle(our ...           15.0
27876  this recipe is top secret recipes version of i...            9.0
5734   an old family recipe that's easy to make since...           12.0
...                                                  ...            ...
3253   my mom was a newlywed in the 1950s when she fo...            NaN
4138   this drink is an excellent after dinner drink ...            6.0
2357   this is a traditional middle eastern dessert. ...            NaN
15052  from the junior league of corpus christi tx, t...            NaN
4710   i've been making these at christmas time for y...            6.0

       name_word_count
26223               15
28083               14
26222               14
27876               14
5734                13
...                ...
3253                 1
4138                 1
2357                 1
15052                1
4710                 1

[30000 rows x 9 columns]

In [66]:
sorted_recipes.to_csv(r'C://SOFIA//tod//sorted_recipes.csv', index=False)

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3